[submodule "main"]
	path = docs
	url = ../docs.git
[submodule "sdk"]
	path = sdk
	url = ../privacy-layer-confidential-sdk.git
[submodule "webhook"]
	path = webhook
	url = ../reference-csv-blacklist-service.git
